$tilesAmountX: 23;
$tilesAmountY: 23;
$tileSize: 32px;
$mapWidth: 735px;

body {
  background: black;
  color: white;
}

.tile {
  width: $tileSize;
  height: $tileSize;

  .coords {
    display: none;
  }

  .show-grid & {
    border: 1px solid white;
    opacity: 0.5;

    &.road {
      border: 2px solid red;
    }

    .coords {
      display: block;
      font-size: 10px;
      color: white;
    }
  }
}

.game-ui {
  display: grid;
  grid-template-columns: $mapWidth auto;
  grid-template-rows: 1;

  .stage-wrapper {
    grid-column: 1;
    position: relative;
  }

  .interface {
    grid-column: 2;
    background: url('../../../public/img/interface/background.png');
    background-size: cover;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
  }
}

.tiles, .entities, .towers, .others {
  display: grid;
  grid-template-columns: repeat($tilesAmountX, $tileSize);
  grid-template-rows: repeat($tilesAmountY, $tileSize);
}

.monster {
  text-align: center;
  width: $tileSize;
  height: $tileSize;
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;

  img {
    display: block;
    align-self: center;
  }
}

.entities, .towers, .tiles, .projectiles, .others {
  position: absolute;
  top: 0;
  left: 0;
}

$towersIndex: 2000;
$projectilesIndex: $towersIndex + 1000;
$statusesIndex: $projectilesIndex + 1000;

.towers {
  z-index: $towersIndex;
}

.tower-projectile {
  z-index: $projectilesIndex;
}

.stage-wrapper {
  position: relative;
  overflow: hidden;
  min-width: $mapWidth;
}

.status-bar {
  width: $tileSize;
  background: red;
  position: absolute;
  height: 3px;
  border: 1px solid black;
  top: -10px;
  z-index: $statusesIndex;

  .status-fulfillment {
    height: 100%;
    background: green;
  }
}

.tower {
  width: 64px;
  height: 64px;
  margin-left: -32px;
  margin-top: -32px;
  position: relative;
}

.rectangle {
  width: 100%;
  height: 100%;
  background: #e6e6e6;
  opacity: 0.5;
  pointer-events: none;
}

.highlight-single-position {
  background: red;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.tower-icon {
  width: 34px;
  height: 34px;
  background: url('../../../public/img/interface/slot.png');

  &:hover {
    background: gray;
  }
}

.tower-projectile {
  position: absolute;
  pointer-events: none;
}

canvas {
  pointer-events: none;
}
