<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Defense Rogue</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}

    <link rel="stylesheet" href="{{rootURL}}app.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <div id="app"></div>

    <script src="{{rootURL}}js/le.js"></script>
    <script src="{{rootURL}}app.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
